.bsp
.ensime*
.idea
.cache*
.classpath
.project
.settings
.metals
.bloop
.gradle

*.log
*.class
*.*~
\#*
.\#*

*.DS_Store

bin
data
target
build
project/target
project/metals.sbt
deployment/config/auth-svc.settings.yml
